@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#22254b;
    --secondry-color:#373b69;
}
body{
    background-color: var(--secondry-color);
    margin:0;
    font-family:'Poppins',sans-serif;
}

.myheader{
    padding: 1rem;
    display: flex;
    justify-content:flex-end;
    background-color: var(--primary-color);
}

.myheader h1 {
  margin: 0;
  padding-right: 1000px;
}

.search{
    background-color: transparent;
    border: 2px solid var(--secondry-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}
.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: #7378c5;
}

.movie{
    width: 300px;
    margin:1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 300px;

}
main{
    padding-left: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
.movie-info{
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.1rem;
}
.movie-info span{
    background-color: var(--secondry-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}


.movie-info span.green{
    color:lightgreen;
}
.movie-info span.orange{
    color:orange;
}
.movie-info span.red{
    color:red;
}
.overview{
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    background-color: #fff;
    padding:1rem;
    max-height: 100%;
    transform: translate(101%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .overview{
    transform: translate(0);
}
